.logo {
    width: 150px;
    margin-top: 15px;
}

.margin_top-10 {
    margin-top: -10px;
}

.navbar-my-theme {
    height: 50px;
}

.hero {
    background-image: url("digital_ocean/img/bg-banner-home.jpg");
}

.signup {
    color: #007bff;
    border: 1px #007bff solid;
    border-radius: 5px;
}

.bg-gray {
    background-color: #f3f5f9;
}

.bg-white {
    background-color: white;
}

.bg-blue {                  
    background-color: #0045c3 
}

.bg-primary {
    border: none;  
    background-color: #579aff
}

.bg-darkblue {
    background-color: #031c4e;
}

.btn_google {
    width: 100%;
}

.google {
    width: 15px;
    float: left;
}

.radius {
    border-radius: 5px;
}

.width {
    width: calc(100% / 6 - 10px);
}

.width-100 {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .width {
        width: 35%;
    }
}

.white {
    color: white;
}

.grey {
    color: lightslategray;
}

.blue {
    color: darkblue;
}

.padding_top_bottom_60 {
    padding: 60px;
}

.padding_top_bottom_15 {
    padding: 15px 0;
}

.padding_top_bottom_5 {
    padding: 5px 0;
}

.carosel {
    min-height: 250px;
    width: 50%;
}

.padding_bottom_60 {
    padding-bottom: 60px;
}

.rockerbox {
    width: 30% ;
    margin: 30px 0;
}

.bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
}

@media screen and (max-width: 998px) {
    .bot {
        position: fixed;
        left: 20px;
        right: auto;
    }
}

.bot_text {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    border: solid 1px;
}

.bot_pic {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 5px; 
    background-color: darkblue;
    border: white 2px solid;
    border-radius: 5px;
    text-align: center;
}

.shark {
    width: 40px;
}

.triangle {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(255, 255, 255);
    position: absolute;
    right: -10px;
    top: calc(50% - 5px);
}

.bot_icon {
    display: inline-block;
}

.notification {
    position: absolute;
    top: 10px;
    right: -5px;
    background-color: crimson;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    font-size: small;
}