.logo {
    width: 150px;
}

.hero {
    background-image: url("digital_ocean/img/bg-banner-home.jpg");
}

.bg-gray {
    background-color: #f3f5f9;
}

.bg-white {
    background-color: white;
}

.bg-blue {                  
    background-color: #0045c3 
}

.bg-darkblue {
    background-color: #031c4e;
}

.google {
    width: 15px;
}

.white {
    color: white;
}

.grey {
    color: lightslategray;
}

.padding_top_bottom_60 {
    padding: 60px;
}

.padding_top_bottom_15 {
    padding: 15px 0;
}

.padding_top_bottom_5 {
    padding: 5px 0;
}